
<div class="container">
<h1 class="text-primary">Welcome to the first Angular Application</h1>

<h3> Liste des messages</h3>

<ul  *ngFor="let msg of messages | async">
  <li>{{ msg.email}}</li>
  <li>{{msg.objet}}</li>
  <li>{{msg.text}}</li>
  <button class="btn btn-danger" (click)="deleteMesg()">Delete</button>
</ul>




  <h1>Ajouter un message</h1>
  <form>
    <div class="form-group">
      <label for="email">email</label>
      <input type="email" class="form-control"  name="email" [(ngModel)]="email" id="email" >
    </div>

    <div class="form-group">
      <label for="objet">objet</label>
      <input type="text" class="form-control" name="objet" [(ngModel)]="objet" id="objet">
    </div>



    <div class="form-group">
      <label for="msg">Votre Message</label>
      <input type="text" class="form-control"  name="text" [(ngModel)]="text" id="msg">
    </div>

    <button type="submit" class="btn btn-success" (click)="addMessage(email,objet,text)">Submit</button>

  </form>
</div>

